* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: white;
    background-color: grey;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.myModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 0, 0, 0, 0.7;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 30em;
    border-radius: 5px;
    text-align: center;
    color: black;
    
}


section.answer-container {
    letter-spacing: 0.5rem;
}


.broder {
    border: solid black 2px;
}
/* .hidden{
    visibility: hidden;;
}

.visible{
    visibility: visible;
} */

.win-loss-container {
    background-color: white;
    color: black;
    position: absolute;
}